@charset "utf-8";
/*
再利用可能な全てのオブジェクトを記述します。
All objects that are reusable will be written.

接頭辞はComponentの頭文字を取って【c_】とします。
Prefix will take the "Component" first letter and use it as "c_".

ここで指定するのは以下の様なものと予想されます。
You might use the following.
.c_btn/.c_breadclumb/.c_hero/.c_serch/.c_dropdown/
.c_card/.c_feature/.c_overlay/.c_form/.c_thumbnail/.c_box

モディファイヤを使用する場合は接頭辞【is_】をつけ、各コンポーネントの下に記述します。
When using modifier put the prefix "is_" and write it under each component.

フォントサイズはremで指定します。
"rem" will be used for font-size.

//sample
.c_btn {
	display: inline-block;
	padding: 15px 20px;
	border-radius: 5px;
	text-decoration: none;
}
.c_btn:hover { opacity: 0.8; }
.c_btn.is_btn_disable { cursor: inherit; }
.c_btn.is_btn_blue{
	color: rgb(255, 255, 255);
	background: rgb(1, 153, 224) none repeat scroll 0% 0%;
}

*/
/*----------------------------------------------
	.class name
---------------------------------------------*/
/*----------------------------------------------
	.c_nav_type01
---------------------------------------------*/
.c_nav_type01 {
  list-style: none;
  background: #FFFFFF;
}

.c_nav_type01 li:not(:last-of-type) a,
.c_nav_type01 li:not(:last-of-type) span{
  border-bottom: 1px solid #CEC6C0;
}
.c_nav_type01 li a,
.c_nav_type01 li span{
  display: block;
  padding: 13px 15px 10px;
  font-size: 1.6rem;
  color: #333333;
  text-decoration: none;
  text-align: left;
  position: relative;
  line-height: 1.3;
  /*background: url(../images/nav_arrow.png) 91% 50% no-repeat;*/
}

.c_nav_type01 li:hover a,
.c_nav_type01 li.active a {
  /*background: url(../images/nav_active_arrow.png) 91% 50% no-repeat, url(../images/nav_active.png);*/
	font-weight: bold;
  color: #FFFFFF;
  background: #c9ac98;
	background: -moz-linear-gradient(top, #c9ac98 0%, #8e6e57 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #c9ac98), color-stop(100%, #8e6e57));
	background: -webkit-linear-gradient(top, #c9ac98 0%, #8e6e57 100%);
	background: -o-linear-gradient(top, #c9ac98 0%, #8e6e57 100%);
	background: -ms-linear-gradient(top, #c9ac98 0%, #8e6e57 100%);
	background: linear-gradient(to bottom, #c9ac98 0%, #8e6e57 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9ac98', endColorstr='#8e6e57', GradientType=0 );
}
.c_nav_type01 li.is_external a::after,
.c_nav_type01 li.is_pdf a::after,
.c_nav_type01 li.is_word a::after,
.c_nav_type01 li.is_ppt a::after,
.c_nav_type01 li.is_excel a::after {
  content: " ";
  display: inline-block;
  width: 16px;
  height: 18px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 15px;
}
.c_nav_type01 li.is_external a::after {
  background: url(../images/icon_external_nav.png) no-repeat;
}
.c_nav_type01 li.is_external a:hover::after {
  background: url(../images/icon_external_nav_o.png) no-repeat;
}
.c_nav_type01 li.is_pdf a::after {
  background: url(../images/icon_pdf.png) no-repeat;
}
.c_nav_type01 li.is_word a::after {
  background: url(../images/icon_word.png) no-repeat;
}
.c_nav_type01 li.is_ppt a::after {
  background: url(../images/icon_powerpoint.png) no-repeat;
}
.c_nav_type01 li.is_excel a::after {
  background: url(../images/icon_excel.png) no-repeat;
}

/*----------------------------------------------
	.c_contact_type01
---------------------------------------------*/
.c_contact_type01 {
	font-size: 1.3rem;
  width: 100%;
}

.c_contact_type01 .c_contact_header {
  color: #077807;
  font-size: 1.5rem;
  font-weight: bold;
}

.c_contact_type01 .c_contact_details {
  line-height: 1.5;
}

/*----------------------------------------------
  .c_news_type01
---------------------------------------------*/
.c_news_type01 {
	width: 100%;
  max-height: 199px;
  overflow-y: auto;
  position: relative;
  font-size: 1.5rem;
  color: #000;
	background: #FFFFFF;
}

.c_news_type01 dt,
.c_news_type01 dd {
  padding-top: 4px;
}

.c_news_type01 dt {
  /*float: left;
  clear: left;*/
  padding-left: 20px;
  font-size: 1.5rem;
  padding-top: 12px;
  font-weight: bold;
}

.c_news_type01 dd {
  padding-left: 20px;
  word-wrap: break-word;
  padding-right: 20px;
  padding-bottom: 16px;
}
.c_news_type01 dd:not(:last-of-type) {
	background-image: linear-gradient(to right, #CEC6C0 33%, rgba(255,255,255,0) 0%);
	background-position: bottom;
	background-size: 4px 1px;
	background-repeat: repeat-x;
}


/*----------------------------------------------
  	.c_news_type02
  ---------------------------------------------*/
.c_news_type02 {
  max-height: 148px;
  overflow-y: auto;
  position: relative;
  font-size: 1.5rem;
  color: #000;
}

.c_news_type02 dt {
  font-size: 1.5rem;
  font-weight: bold;
  display: block;
  padding: 15px 10px 0;
}

.c_news_type02 dd {
  padding: 5px 10px;
  word-wrap: break-word;
}
.c_news_type02 dt:not(:first-of-type) {
  border-top: 2px dotted #aaaaaa;
}
/*----------------------------------------------
  	.c_ttl_type01
  ---------------------------------------------*/
.c_ttl_type01 {
  font-size: 3rem;
  font-weight: bold;
  background: url('../images/h1_bg.png') no-repeat left/cover, #077807;
  color: #FFFFFF;
  padding: 18px 30px 16px;
}
/*----------------------------------------------
    .c_ttl_type02
---------------------------------------------*/
.c_ttl_type02 {
  font-size: 2.4rem;
  font-weight: bold;
  color: #FFFFFF;
	padding: 12px 16px 11px;
	
  background: #8e6e57;
	background: -moz-linear-gradient(left, #8e6e57 0%, #c9ac98 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, #8e6e57), color-stop(100%, #c9ac98));
	background: -webkit-linear-gradient(left, #8e6e57 0%, #c9ac98 100%);
	background: -o-linear-gradient(left, #8e6e57 0%, #c9ac98 100%);
	background: -ms-linear-gradient(left, #8e6e57 0%, #c9ac98 100%);
	background: linear-gradient(to right, #8e6e57 0%, #c9ac98 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8e6e57', endColorstr='#c9ac98', GradientType=1 );
}
/*----------------------------------------------
    .c_ttl_type03
---------------------------------------------*/
.c_ttl_type03 {
  font-size: 2.2rem;
  font-weight: bold;
  color: #077807;
  padding: 9px 10px 8px;
  position: relative;
	background: #D7E8B5;
	border-left: 5px solid #077807;
}

/*----------------------------------------------
    .c_ttl_type04
---------------------------------------------*/
.c_ttl_type04 {
  font-size: 2rem;
  font-weight: bold;
  color: #333333;
	padding-bottom: 3px;
  position: relative;
  border-bottom: 2px solid #E3D8D0;
}

.c_ttl_type04:before {
  content: '';
	width: 60px;
	height: 2px;
	background: #8E6E58;
	position: absolute;
	bottom: -2px;
}

/*----------------------------------------------
    .c_ttl_type05
---------------------------------------------*/
.c_ttl_type05 {
	font-size: 1.8rem;
	font-weight: bold;
	color: #077807;
}

/*----------------------------------------------
  Gradient Sample
---------------------------------------------*/
/*background: -webkit-gradient(left top, right top, color-stop(0%, rgba(16,41,75,1)), color-stop(100%, rgba(10,59,150,1)));
background: -webkit-linear-gradient(left, rgba(16,41,75,1) 0%, rgba(10,59,150,1) 100%);
background: -o-linear-gradient(left, rgba(16,41,75,1) 0%, rgba(10,59,150,1) 100%);
background: -ms-linear-gradient(left, rgba(16,41,75,1) 0%, rgba(10,59,150,1) 100%);
background: linear-gradient(to right, rgba(16,41,75,1) 0%, rgba(10,59,150,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#10294b', endColorstr='#0a3b96', GradientType=1 );*/

/*----------------------------------------------
  	.c_para_type01
---------------------------------------------*/
.c_para_type01 {
  text-align: justify;
  -ms-text-justify: inter-ideograph;
  text-justify: inter-ideograph;
}

/*----------------------------------------------
  	.c_para_type02
---------------------------------------------*/
.c_para_type02 {
  text-indent: 1em;
  text-align: justify;
  -ms-text-justify: inter-ideograph;
  text-justify: inter-ideograph;
}

/*----------------------------------------------
  	.c_kome_type01
---------------------------------------------*/
.c_kome_type01 {
  text-indent: -1em;
  padding-left: 1em;
}

/*----------------------------------------------
	.c_table_type01
---------------------------------------------*/
.c_table_type01 {
  width: 100%;
}

.c_table_type01 thead th {
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  background: #9CC848;
}
.c_table_type01 thead th:first-child {
	text-align: left;
}

.c_table_type01 th,
.c_table_type01 td {
  padding: 16px 15px 15px;
  line-height: 1.4;
  border: 1px solid #F1F1F1;
}

.c_table_type01 th {
  font-weight: normal;
  text-align: left;
  vertical-align: top;
  white-space: pre-wrap;
  color: #333333;
  background: #D7E8B5;
}

.c_table_type01.is_custom02 th,
.c_table_type01.is_custom02 td {
  border: 1px solid #CEC6C0;
}
.c_table_type01.is_custom02 th {
	font-weight: bold;
	width: 20%;
  background: #F1EBE7;
}

/*----------------------------------------------
	.c_table_type02
---------------------------------------------*/
.c_table_type02 {
	color: #333333;
  width: 100%;
}

.c_table_type02 tr:nth-child(odd) {
  background: #F1EBE7;
}

.c_table_type02 th {
  text-align: center;
  vertical-align: top;
  font-weight: bold;
  white-space: pre-wrap;
}

.c_table_type02 th,
.c_table_type02 td {
  padding: 11px 5px 10px;
	line-height: 1.3;
}

/*----------------------------------------------
	.c_table_type03
---------------------------------------------*/

.c_table_type03 {
	border: 1px solid #CCCCCC;
	border-top: 3px solid #077807;
	border-bottom: 0;
}

.c_table_type03 table {
	width: 100%;
}

.c_table_type03 th {
	font-weight: bold;
	width: 32%;
  color: #333333;
  white-space: pre-wrap;
  border-bottom: 2px solid #333;
  text-align: center;
}

.c_table_type03 th,
.c_table_type03 td {
	text-align: center;
  padding: 10px;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
}

.c_table_type03 th:last-of-type,
.c_table_type03 td:last-of-type {
	border-right: 0;
}

/*----------------------------------------------
	.c_table_type04
---------------------------------------------*/
.c_table_type04 tr > * {
  vertical-align: top;
  border: 1px solid #333;
}

/* FOR COLORED LIST TYPE */
/*----------------------------------------------
	.c_list_type01
---------------------------------------------*/
.c_list_type01 {
  vertical-align: top;
}

.c_list_type01 li {
  margin-bottom: 5px;
  text-align: justify;
  -ms-text-justify: inter-ideograph;
  text-justify: inter-ideograph;
  list-style: none;
  position: relative;
  left: 0;
}
.c_list_type01 li:before {
  color: #F1A728;
  position: relative;
  display: inline-block;
  width: 15px;
  font-size: 9px;
  vertical-align: middle;
  top: -1px;
  text-indent: 0;
}

.c_list_type01.is_arrow li:before {
  content: "";
  width: 15px;
  height: 7px;
  background: url(../images/list_arrow.png) no-repeat;
}
.c_list_type01.is_square li:before {
  content: "■";
}

.c_list_type01.is_disc li:before {
  content: "●";
}

.c_list_type01.is_triangle li:before {
  content: "▶";
}

.c_list_type01.is_diamond li:before {
  content: "◆";
}

.c_list_type01.is_decimal {
  counter-reset: is_decimal_counter;
}

.c_list_type01.is_decimal li:before {
  counter-increment: is_decimal_counter;
  content: counter(is_decimal_counter) ".";
  font-weight: bold;
	width: inherit;
  position: relative;
  display: inline-block;
  margin-right: 5px;
  color: #F1A728;
  font-size: 1.6rem;
}

.c_list_type01.is_triangle li,
.c_list_type01.is_diamond li,
.c_list_type01.is_square li,
.c_list_type01.is_disc li,
.c_list_type01.is_triangle li,
.c_list_type01.is_diamond li {
  text-indent: -15px;
  padding-left: 15px;
}
.c_list_type01.is_decimal li {
  text-indent: -26px;
  padding-left: 26px;
}

/* FOR SIMPLE LIST TYPE */
/*----------------------------------------------
	.c_list_type02
---------------------------------------------*/
.c_list_type02 {
  text-align: justify;
  -ms-text-justify: inter-ideograph;
  text-justify: inter-ideograph;
  padding-left: 20px;
}

.c_list_type02 li {
  margin-bottom: 5px;
}

.c_list_type02.is_disc li {
  list-style: disc;
}

.c_list_type02.is_decimal li{
  list-style: decimal;
}
/*----------------------------------------------
	.c_btn_type01
---------------------------------------------*/
.c_btn_type01 {
  display: inline-block;
  padding: 15px 10px 13px 10px;
  min-width: 240px;
  background: #9CC848;
  text-decoration: none!important;
  color: #fff!important;
	position: relative;
	
	-webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; 
}
a.c_btn_type01:hover {
  opacity: 0.4;
}
.c_btn_type01.is_w250 { width: 250px; }
.c_btn_type01.is_w320 { width: 320px; }
.c_btn_type01.is_w400 { width: 400px; }

.c_btn_type01.is_word::after,
.c_btn_type01.is_excel::after,
.c_btn_type01.is_ppt::after,
.c_btn_type01.is_pdf::after {
  content: '';
	width: 18px;
  height: 18px;
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
	right: 10px;
  margin: auto auto auto 8px;
}
.c_btn_type01.is_word::after {
  background: url(../images/icon_btn_word.png) no-repeat;
}
.c_btn_type01.is_excel::after {
  background: url(../images/icon_btn_excel.png) no-repeat;
}
.c_btn_type01.is_ppt::after {
  background: url(../images/icon_btn_powerpoint.png) no-repeat;
  background-size: 100%;
}
.c_btn_type01.is_pdf::after {
  background: url(../images/icon_btn_pdf.png) no-repeat;
	width: 22px;
  height: 22px;
}
.c_btn_type01.is_disable {
	background: #CCCCCC;
}

/*----------------------------------------------
	.c_btn_type02
---------------------------------------------*/
.c_btn_type02 {
  display: inline-block;
  padding: 10px 10px;
  min-width: 220px;
  background: #333;
  border-radius: 5px;
  text-decoration: none!important;
  color: #fff!important;
}
a.c_btn_type02:hover {
  opacity: 0.8;
}
.c_btn_type02.is_word::after,
.c_btn_type02.is_excel::after,
.c_btn_type02.is_ppt::after,
.c_btn_type02.is_pdf::after {
  content: "";
  display: inline-block;
  position: relative;
  top: 0;
  bottom: 0;
  width: 22px;
  height: 22px;
  margin: auto auto auto 10px;
  vertical-align: middle;
}
.c_btn_type02.is_word::after {
  background: url(../images/icon_btn_word.png) no-repeat;
  background-size: 100%;
}
.c_btn_type02.is_excel::after {
  background: url(../images/icon_btn_excel.png) no-repeat;
  background-size: 100%;
}
.c_btn_type02.is_ppt::after {
  background: url(../images/icon_btn_powerpoint.png) no-repeat;
  background-size: 100%;
}
.c_btn_type02.is_pdf::after {
  background: url(../images/icon_btn_pdf.png) no-repeat;
  background-size: 100%;
}

/*----------------------------------------------
	.c_btn_group
---------------------------------------------*/
.c_btn_group01 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-pack: distribute;
  justify-content: space-between;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	-ms-flex-flow: wrap;
	flex-flow: wrap;
}
.c_btn_group01 a,
.c_btn_group01 span {
	width: 100%;
	min-width: inherit;
	max-width: 160px;
	min-height: 60px;
	letter-spacing: -0.5px;
	
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.c_btn_group01 a:not(:last-of-type),
.c_btn_group01 span:not(:last-of-type){
	margin-bottom: 15px;
}

/*----------------------------------------------
	.c_box_type01
---------------------------------------------*/
.c_box_type01 {
	background: #D7E8B5;
	padding: 20px;
	border: 1px solid #077807;
	line-height: 1.3;
}
.c_box_type01_header {
 font-size: 1.6rem;
 font-weight: bold;
 color: #077807;
 padding-bottom: 8px;
}

/*----------------------------------------------
	.c_box_type02
---------------------------------------------*/
.c_box_type02 {
	padding: 20px;
	border: 2px solid #F1A728;
	background: #FFFFFF;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	line-height: 1.3;
}
.c_box_type02_header {
	font-weight: bold;
	color: #333333;
	padding-bottom: 8px;
}

/*----------------------------------------------
	.c_box_type03
---------------------------------------------*/
.c_box_type03 {
 padding: 20px;
 background: #FEEEEE;
 border: 1px solid #FF0000;
}

/*----------------------------------------------
.c_anchor_icon
---------------------------------------------*/
a.c_anchor_icon{
    display: inline-block;
    padding-right: 20px;
  }

.c_anchor_icon.is_external,
a[href^="http://"].c_anchor_icon,
a[href^="https://"].c_anchor_icon{ background: url(../images/icon_external.png) no-repeat right center; }

.c_anchor_icon.is_excel,
a[href$=".xls"].c_anchor_icon,
a[href$=".xlsx"].c_anchor_icon {  background: url(../images/icon_excel.png) no-repeat right center; }

.c_anchor_icon.is_word,
a[href$=".doc"].c_anchor_icon,
a[href$=".docx"].c_anchor_icon { background: url(../images/icon_word.png) no-repeat right center; }

.c_anchor_icon.is_ppt,
a[href$=".ppt"].c_anchor_icon,
a[href$=".pptx"].c_anchor_icon { background: url(../images/icon_powerpoint.png) no-repeat right center; }

.c_anchor_icon.is_pdf,
a[href$=".pdf"].c_anchor_icon { background: url(../images/icon_pdf.png) no-repeat right center; }
