@charset "utf-8";
/*
サイト上の構成の大枠としてページ内に1度しか出てこないものと、グリッドレイアウトについてを記述します。
We will write about thing the only comes out once on the page as a frame and grid(column) layout.

接頭辞はLayoutの頭文字を取って【l_】とします。
Prefix will take the "Layout" first letter and use it as "l_".

ここで指定するのは以下の様なものと予想されます。
You might use the following.
.l_wrap/.l_container/.l_header/
.l_nav/.l_main/.l_contents/.l_footer

モディファイヤを使用する場合は接頭辞【has_】をつけ、各レイアウトの下に記述します。
When using modifier put the prefix "has_" and write it under each layout.

フォントサイズはremで指定します。
"rem" will be used for font-size.
*/
/*----------------------------------------------
	.l_wrap
---------------------------------------------*/
.l_wrap {
	width: 1000px;
	margin: 0 auto;
}

/*----------------------------------------------
	.l_bg
---------------------------------------------*/
.l_bg {
	background: #FAFFEC;
	/*background-attachment: fixed;*/
}
/*----------------------------------------------
	.l_container
---------------------------------------------*/
.l_container {
  padding-top: 20px;
  padding-bottom: 40px;
}

#top .l_container {
	padding-bottom: 25px;
}

/*----------------------------------------------
	.l_header
---------------------------------------------*/
.l_header_area {
	height: 96px;
	background: #077807;
	background: -moz-linear-gradient(top, #077807 0%, #194619 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #077807), color-stop(100%, #194619));
	background: -webkit-linear-gradient(top, #077807 0%, #194619 100%);
	background: -o-linear-gradient(top, #077807 0%, #194619 100%);
	background: -ms-linear-gradient(top, #077807 0%, #194619 100%);
	background: linear-gradient(to bottom, #077807 0%, #194619 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#077807', endColorstr='#194619', GradientType=0 );
}
.l_header {
	position: relative;
}

.l_header img {
	position: absolute;
}
.l_header_title {
  top: 0;
	right: 0;
	left: 0;
	margin: 0 auto;
}

/*----------------------------------------------
	.l_side_contents
---------------------------------------------*/
.l_side_contents {
	width: 240px;
	float: left;
}

/*----------------------------------------------
	.l_nav_area
---------------------------------------------*/
.l_nav_area {
	background: #FFFFFF;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(114,136,97,0.56);
	-moz-box-shadow: 0px 0px 5px 0px rgba(114,136,97,0.56);
	box-shadow: 0px 0px 5px 0px rgba(114,136,97,0.56);
}

.l_poster a img:hover{
	opacity: 0.6;
}


/*----------------------------------------------
	.l_main_contents
---------------------------------------------*/
.l_main_contents {
	width: 730px;
	position: relative;
	float: right;
}

.inner .l_main_contents {
	-webkit-box-shadow: 0px 0px 5px 0px rgba(114,136,97,0.56);
	-moz-box-shadow: 0px 0px 5px 0px rgba(114,136,97,0.56);
	box-shadow: 0px 0px 5px 0px rgba(114,136,97,0.56);
}
/*----------------------------------------------
	.l_poster_area
---------------------------------------------*/
.l_poster_area{
	height: 670px;
	position: relative;
	background: url(../images/poster_bg.png) no-repeat, #E2F1E2;
}

/*----------------------------------------------
	.l_poster_bottom
---------------------------------------------*/
.l_poster_bottom {
	background: #e2f1e2;
	background: -moz-linear-gradient(top, #e2f1e2 0%, #cde1cd 55%, #a6cea6 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #e2f1e2), color-stop(55%, #cde1cd), color-stop(100%, #a6cea6));
	background: -webkit-linear-gradient(top, #e2f1e2 0%, #cde1cd 55%, #a6cea6 100%);
	background: -o-linear-gradient(top, #e2f1e2 0%, #cde1cd 55%, #a6cea6 100%);
	background: -ms-linear-gradient(top, #e2f1e2 0%, #cde1cd 55%, #a6cea6 100%);
	background: linear-gradient(to bottom, #e2f1e2 0%, #cde1cd 55%, #a6cea6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2f1e2', endColorstr='#a6cea6', GradientType=0 );
}

/*----------------------------------------------
	.l_poster_ttl
---------------------------------------------*/
.l_poster_header {
	position: absolute;
	top: 36px;
	left: 0;
	right: 0;
	margin: auto;
}

/*----------------------------------------------
	.l_poster_details
---------------------------------------------*/
.l_poster_detail {
	/*position: absolute;
	top: 180px;
	left: 0;
	right: 0;
	margin: auto;*/
}

/*----------------------------------------------
	.l_poster_date
---------------------------------------------*/
.l_poster_date {
	/*position: absolute;
	bottom: 150px;
	left: 0;
	right: 0;
	margin: auto;*/
}

/*----------------------------------------------
	.l_poster_info
---------------------------------------------*/
.l_poster_info {
	width: 57%;
	padding: 16px 20px 18px;
}

/*----------------------------------------------
	.l_news_area
---------------------------------------------*/
.l_news_area {
	width: 300px;
	padding: 23px 24px 20px;
	overflow: hidden;
}

/*----------------------------------------------
  .l_news_header
	---------------------------------------------*/
.l_news_header {
	font-size: 2.2rem;
	font-weight: bold;
	color: #FFFFFF;
	position: relative;
	border-bottom: 1px solid #DADFE7;
	padding: 10px 10px 10px 20px;
	line-height: 1.3;
	
	background: #c9ac98;
	background: -moz-linear-gradient(top, #c9ac98 0%, #8e6e57 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #c9ac98), color-stop(100%, #8e6e57));
	background: -webkit-linear-gradient(top, #c9ac98 0%, #8e6e57 100%);
	background: -o-linear-gradient(top, #c9ac98 0%, #8e6e57 100%);
	background: -ms-linear-gradient(top, #c9ac98 0%, #8e6e57 100%);
	background: linear-gradient(to bottom, #c9ac98 0%, #8e6e57 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9ac98', endColorstr='#8e6e57', GradientType=0 );
}

/*----------------------------------------------
  .l_content
---------------------------------------------*/
.l_content {
	background: #fff;
	padding: 25px 30px;
	min-height: 600px;
}

/*----------------------------------------------
  .l_link_content
---------------------------------------------*/
.l_link_content p {
	border-bottom: 2px dotted #385173;
	padding: 20px 0px;
}
/*----------------------------------------------
  .l_footer_area
---------------------------------------------*/
.l_footer_area {
	position: relative;
	color: #FFFFFF;
}

/*----------------------------------------------
  .l_contact_area
---------------------------------------------*/
.l_contact_area {
	padding-bottom: 0px;
}
/*----------------------------------------------
  .l_contact_double
---------------------------------------------*/
.l_footer_area .l_contact_double {
	padding-top: 20px;
}
.l_contact_double > div{
	display: inline-block;
}

.l_contact_double > div:first-child {
	width: 48%;
}
.l_contact_double > div:last-child {
	width: 48%;
}

/*----------------------------------------------
  .l_copyright
---------------------------------------------*/
.l_copyright {
	padding: 10px;
	font-size: 1.3rem;
	background: #077807;
}

/*----------------------------------------------
  .l_pagetop
---------------------------------------------*/
.l_pagetop {
  position: fixed;
  right: 25px;
  bottom: 4.3em;
	z-index: 99;
}

.l_pagetop a{
	line-height: 0;
	display: block;
}

.l_pagetop img:hover {
	opacity: 0.9;
}
/*----------------------------------------------
  .l_double
---------------------------------------------*/
.l_double {
  width: 47%;
  display: inline-block;
  margin: 0 2%;
}
.l_double:nth-child(1) { margin-left: 0; }
.l_double:nth-child(2) { margin-right: 0; }

/*----------------------------------------------
  .l_double02
---------------------------------------------*/
.l_double02 {
  width: 48%;
  display: inline-block;
  vertical-align: top;
}

.l_double02:first-of-type {
  margin-right: 3%;
}

/*ここから下は触らない　Do not touch from here*/
/*----------------------------------------------
	.l_column_warp
---------------------------------------------*/
/*
コラムの使い方の説明
How to use column

コラムはサイト上の構成の大枠としては使用せず、コンテンツエリア内で使用してください。
Do not use the column as the frame but, use it inside the contents area.

HTMLは以下の形が基本形です。
The following will be the base for HTML.
----------------------------------------------
<div class="l_column_wrap">
	<div class="l_column has_column_pc00unit has_column_sp00unit">
		コンテンツが入る
	</div>
</div>
----------------------------------------------


00部分はコンテンツ幅を12分割した値が入ります。
In the "00" part will have the values 1 to 12.
The values are from dividing the content width into 12.

以下のclassをl_columnに追加する事で、コラムの分割数をPC/SPそれぞれに設定する事ができます。
By adding the following class into "l_column", you can set the column's number of partitions on the PC and SP.

下記はPCの場合の例です。
Example for PC
has_column_pc1unit : 12分割 12 partition
has_column_pc2unit : 6分割
has_column_pc3unit : 4分割
has_column_pc4unit : 3分割
has_column_pc5unit : 5/12分割
has_column_pc6unit : 2分割
has_column_pc7unit : 7/12分割
has_column_pc8unit : 2/3分割
has_column_pc9unit : 3/4分割
has_column_pc10unit : 5/6分割
has_column_pc11unit : 11/12分割
has_column_pc12unit : 1分割

以下のclassをl_columnに追加する事で、コラムの左右余白を設定する事ができます。
By adding the following class into "l_column", you can set the padding.

has_column_padding10 : 左右5px
has_column_padding20 : 左右10px
has_column_padding30 : 左右15px
has_column_padding40 : 左右20px
has_column_padding50 : 左右25px

以下のclassをl_column_wrapに追加する事で、両端の余白を調整する事ができます。
By adding the following class into "l_column_wrap", you can adjust the padding.

has_column_wrap_fill10 : 左右5pxづつ埋める
has_column_wrap_fill20 : 左右10pxづつ埋める
has_column_wrap_fill30 : 左右15pxづつ埋める
has_column_wrap_fill40 : 左右20pxづつ埋める
has_column_wrap_fill50 : 左右25pxづつ埋める
*/

/* .l_column unit */
.l_column {
	box-sizing: border-box; /* border-widthとpaddingをwidthに含める　Include border-width and padding into width. */
	float: left;
}
.l_column.has_column_pc1unit { width: 8.33%; }
.l_column.has_column_pc2unit { width: 16.66%; }
.l_column.has_column_pc3unit { width: 25%; }
.l_column.has_column_pc4unit { width: 33.32%; }
.l_column.has_column_pc5unit { width: 41.65%; }
.l_column.has_column_pc6unit { width: 50%; }
.l_column.has_column_pc7unit { width: 58.33%; }
.l_column.has_column_pc8unit { width: 66.66%; }
.l_column.has_column_pc9unit { width: 74.99%; }
.l_column.has_column_pc10unit { width: 83.32%; }
.l_column.has_column_pc11unit { width: 91.65%; }
.l_column.has_column_pc12unit { width: 100%; }

@media screen and (max-width: 640px) {
	.l_column.has_column_sp1unit { width: 8.33%; }
	.l_column.has_column_sp2unit { width: 16.66%; }
	.l_column.has_column_sp3unit { width: 25%; }
	.l_column.has_column_sp4unit { width: 33.32%; }
	.l_column.has_column_sp5unit { width: 41.65%; }
	.l_column.has_column_sp6unit { width: 50%; }
	.l_column.has_column_sp7unit { width: 58.33%; }
	.l_column.has_column_sp8unit { width: 66.66%; }
	.l_column.has_column_sp9unit { width: 74.99%; }
	.l_column.has_column_sp10unit { width: 83.32%; }
	.l_column.has_column_sp11unit { width: 91.65%; }
	.l_column.has_column_sp12unit { width: 100%; }
}

/* column padding */
.l_column.has_column_padding10 { padding: 0 5px; }
.l_column.has_column_padding20 { padding: 0 10px; }
.l_column.has_column_padding30 { padding: 0 15px; }
.l_column.has_column_padding40 { padding: 0 20px; }
.l_column.has_column_padding50 { padding: 0 25px; }

/* column fill */
.l_column_wrap.has_column_wrap_fill10 { margin: 0 -5px; }
.l_column_wrap.has_column_wrap_fill20 { margin: 0 -10px; }
.l_column_wrap.has_column_wrap_fill30 { margin: 0 -15px; }
.l_column_wrap.has_column_wrap_fill40 { margin: 0 -20px; }
.l_column_wrap.has_column_wrap_fill50 { margin: 0 -25px; }
